<div class="center-box">
  <div  class="box-container">
          
    <div *ngIf="busy" class="loader-main" style="height: calc(100vh - 190px);">
      <div class="loading-dots">
        <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
      </div>
    </div>

    <div *ngIf="!busy">
      <div class="text-center logo"><img *ngIf="currentProvider?.logo" [src]="currentProvider?.logo"></div>
      <h1 class="text-center">Reset your Password</h1>
      <p class="form-group text-center">Please enter your new password below</p>
      <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">New Password</label>
          <input autocomplete="1" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="form-messages error">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': ((f.submitted && !password.valid) || errors.confirmPassword) }">
          <label for="confirmPassword">Confirm Password</label>
          <input autocomplete="1" validateEqual="password" type="password" class="form-control" name="password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
          <div *ngIf="f.submitted && !confirmPassword.valid" class="form-messages error">Confirm Password is required</div>
          <div *ngIf="errors.confirmPassword" class="form-messages error">{{ errors.confirmPassword }}</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-md">Reset your password<i *ngIf="loading" class="fa-spin fas fa-spinner"></i></button>              
        </div>
        <!-- <p class="text-center">Go back to <a class="text-primary" [routerLink]="['/login']">login</a></p> -->
      </form>
    </div>
    
    <div class="copyright-text">
      <span>© 2021 ABC. All Rights Reserved.</span>
        <ul>
          <li><a [routerLink]="['/login']">Back to login</a></li>
          <li><a target="_blank" href="#"><i class="fas fa-external-link-alt"></i>Privacy Policy</a></li>
        </ul>
    </div>
  </div>
</div>
