﻿<!-- <div *ngIf="message"  [hidden]="!showHide" [ngClass]="{ 'alert': message, 'error': message.status === 'false', 'success': message.status === 'true' } ">
	{{message.text}}
	<span (click)="removeAlert();" class="close"><i class="fas fa-times"></i></span>
</div> -->

<div *ngIf="message && message.type != 'confirm'" [hidden]="!showHide" [ngClass]="{ 'alert': message, 'alert-danger': message.status === 'false', 'alert-success': message.status === 'true' } " class="alert-box">
    <div class="alert-text">{{message.text}}</div>
    <img (click)="removeAlert();" src="assets/images/close.svg" alt="close">
</div>

<div class="alert-box alert-default" [hidden]="!showHideCon" *ngIf="message && message.type == 'confirm'">
    <div class="alert-text">{{message.text}}
        <div class="alert-btn">
            <button class="btn btn-primary" (click)="removeAlert();message.siFn()">Yes</button>
            <button class="btn btn-secondary" (click)="removeAlert();message.noFn()">Cancel</button>
        </div>
    </div>
    <img (click)="removeAlert();message.noFn();" src="assets/images/close.svg" alt="close">
</div>
<div class="background-overlay" (click)="removeAlert();message.noFn()" [hidden]="!showHideCon" *ngIf="message && message.type == 'confirm'"></div>

<div class="alert-box alert-default" [hidden]="!showHideDoubleCon" *ngIf="message && message.type == 'doubleconfirm'">
    <div class="alert-text">{{message.text}}
        <div class="alert-btn">
            <button class="btn btn-primary" (click)="removeAlert();message.siFn()">Yes</button>
        	<button class="btn btn-primary" (click)="removeAlert();message.si2Fn()">Change status with current terms</button>
        	<button class="btn btn-secondary" (click)="removeAlert();message.noFn()">Cancel</button>
        </div>
    </div>
    <img (click)="removeAlert();message.noFn()" src="assets/images/close.svg" alt="close">
</div>