<div class="mobile-header">
  <div class="logo-and-icon">
    <div class="mobilemenu-icon" (click)="expandMainMenuFlag()"><img src="{{ imageurl }}/uploads/default/menu-icons/menu.svg"></div>
    <span class="logo">
      <img src="{{ _global.getlocalStorage('provider_logo') }}">
    </span>
  </div>
  <div (click)="expandMainMenuFlag()" class="background-overlay"></div>
  <div class="user-and-notification">
      
        <div class="icon mobile-notification" expandMenu>
          <img src="{{ imageurl }}/uploads/default/menu-icons/notification.svg">
          <span class="number-notification">
          </span>

          <div class="notification-popuover">
            <div class="notification-header">
              <h4 class="notification-title">Notifications</h4>
              <div class="badge" *ngIf="logCount > 0">{{ ((logCount <= 99) ? logCount : '99+') }} New</div>
            </div>
            <div class="nofication-cont">
              <div class="notication-row">
                <span class="avtar">
                  <img src="{{ imageurl }}/uploads/default/user.png">
                </span>
        
                <div class="timeline-text">
                  <p class="details">NFR As generated contract #RTO-MMMB000057</p>
                  <div class="date">
                    <ul>
                      <li>09:54:04 PM</li>
                      <li>IP: 174.248.7.90</li>
                      <li>NFR As</li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="notication-row">
                <span class="avtar">
                  <img src="{{ imageurl }}/uploads/default/user.png">
                </span>
        
                <div class="timeline-text">
                  <p class="details">NFR As generated contract #RTO-MMMB000057</p>
                  <div class="date">
                    <ul>
                      <li>09:54:04 PM</li>
                      <li>IP: 174.248.7.90</li>
                      <li>NFR As</li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="notication-row">
                <span class="avtar">
                  <img src="{{ imageurl }}/uploads/default/user.png">
                </span>
        
                <div class="timeline-text">
                  <p class="details">NFR As generated contract #RTO-MMMB000057</p>
                  <div class="date">
                    <ul>
                      <li>09:54:04 PM</li>
                      <li>IP: 174.248.7.90</li>
                      <li>NFR As</li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="notication-row unread">
                <span class="avtar">
                  <img src="{{ imageurl }}/uploads/default/user.png">
                </span>
        
                <div class="timeline-text">
                  <p class="details">NFR As generated contract #RTO-MMMB000057</p>
                  <div class="date">
                    <ul>
                      <li>09:54:04 PM</li>
                      <li>IP: 174.248.7.90</li>
                      <li>NFR As</li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="notication-row unread">
                <span class="avtar">
                  <img src="{{ imageurl }}/uploads/default/user.png">
                </span>
        
                <div class="timeline-text">
                  <p class="details">NFR As generated contract #RTO-MMMB000057</p>
                  <div class="date">
                    <ul>
                      <li>09:54:04 PM</li>
                      <li>IP: 174.248.7.90</li>
                      <li>NFR As</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="nofication-footer">
              <button routerLink="/activity" class="btn btn-primary">Read all notifications </button>
            </div>
          </div>
        </div>
        <div class="icon mobile-user" expandMenu>
          <span class="icon user">
              <img src="{{ uploadUrl }}/uploads/default/user.png">
           </span>

          <div class="popover user-profile-popver">
            <div class="account-section item-center">
              <img *ngIf="_global.getlocalStorage('profile_image') != ''" src="{{ _global.getlocalStorage('profile_image') }}">
                  <img *ngIf="_global.getlocalStorage('profile_image') == ''" src="{{ uploadUrl }}/uploads/default/user.png">
                <div class="account-info"> {{ _global.getlocalStorage('firstname') }} {{ _global.getlocalStorage('lastname') }} 
                  <span><strong>{{ _global.getlocalStorage('user_role_display') }}</strong></span>
                  <span>{{ _global.getlocalStorage('username') }}</span>
                </div>
            </div>
            <div class="provider-info" *ngIf="_global.getlocalStorage('company_name')">
              <strong>{{ _global.getlocalStorage('company_name') }}</strong>
              <span>{{ _global.getlocalStorage('company_sequence_id') }}</span>
            </div>
            <ul class="account-links block-content">
              <li><a [routerLink]="['/preferences/account-defaults']">Profile &amp; Preferences</a></li>
              <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin' || _global.getlocalStorage('user_role') == 'admin')"><a [routerLink]="['/users']">Users</a></li>
              <li *ngIf="(_global.getlocalStorage('user_role') == 'customer')"><a [routerLink]="['/payment-methods']">Payment Methods</a></li>
              <li><a [routerLink]="['/support']">Support</a></li>
            </ul>
            <div class="link-bottom block-content">
              <a class="pull-left" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      
  </div>
  
</div>

<div class="under-development-flag" #underDevelopmentFlag *ngIf="maintenance?.is_maintenance_mode">
  <div class="alert-warning"><div class="alert-text">{{ maintenance?.maintenance_message }}</div><span (click)="removeMain()">&times;</span></div>
</div>

<header [class.provider-nav]="isProviderMode || isInvoiceMode || isInvestorCompanyMode">
  <div class="navbar">
    <a routerLink="/providers" *ngIf="isProviderMode" class="provider-back" href="javascript:void(0);">
      <i class="fas fa-chevron-left"></i> Back <span>to all RTO Providers</span>
    </a>
    <div class="provider-logo" *ngIf="isProviderMode">
      <h2>{{ provider_data.provider_name }}</h2>
    </div>
  
    <nav *ngIf="!isProviderMode" class="nav-left" [class.open]="expandMenuFlag"> <!-- expandMenu -->
      <div class="logo"><a [routerLink]="['/dashboard']" *ngIf="!isProviderMode && _global.getlocalStorage('provider_logo') != ''"><img src="{{ _global.getlocalStorage('provider_logo') }}"></a></div>

      <ul class="navbar-nav">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || (_global.getlocalStorage('user_role') == 'representative' && currentUser?.provider_type != 'securestay')">
          <a routerLink="/providers" routerLinkActive="active">Providers</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'admin' && currentUser?.provider_type != 'securestay'">
          <a routerLink="/companies" routerLinkActive="active">Companies</a>
        </li>

        <li *ngIf="_global.getlocalStorage('user_role') != 'superadmin' && _global.getlocalStorage('user_role') != 'agent' && currentUser?.provider_type != 'securestay'">
          <a routerLink="/contracts" routerLinkActive="active">Contracts</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'agent'">
          <a routerLink="/contracts/onboarding" routerLinkActive="active">Onboarding</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin'" [class.open]="expandContractSubFlag" [class.hide]="!expandContractSubFlag">
          <a href="javascript:void(0);" (click)="expandContractSubFlag = !expandContractSubFlag">Contracts<i class="fas fa-caret-down"></i></a>
          <ul class="submenu">
            <li>
              <a routerLink="/contracts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contracts</a>
            </li>
            <li>
              <a routerLink="/contracts/onboarding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Onboarding</a>
            </li>
          </ul>
        </li>

        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || ((_global.getlocalStorage('user_role') == 'admin' || _global.getlocalStorage('user_role') == 'representative') && currentUser?.provider_type == 'securestay')">
          <a routerLink="/agreements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Agreements</a>
        </li>
        
        <!-- <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
          <a routerLink="/preferences/payment-settings" routerLinkActive="active">Payment Settings</a>
        </li> -->
        <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
          <a routerLink="/preferences/transactions" routerLinkActive="active">Transactions</a>
        </li>
        
        <li *ngIf="((_global.getlocalStorage('user_role') == 'superadmin' && deviceType != 'tablet') || _global.getlocalStorage('user_role') == 'admin' || (_global.getlocalStorage('user_role') == 'representative' && currentUser?.provider_type != 'securestay' ) || _global.getlocalStorage('user_role') == 'dealer' || _global.getlocalStorage('user_role') == 'company_admin')">
          <a routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        
        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || ((_global.getlocalStorage('user_role') == 'representative' || _global.getlocalStorage('user_role') == 'admin') && currentUser?.provider_type != 'securestay')">
          <a routerLink="/assets" routerLinkActive="active">Assets</a>
        </li>

        <li *ngIf="deviceType != 'tablet' && _global.getlocalStorage('user_role') == 'superadmin'">
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li *ngIf="((_global.getlocalStorage('user_role') == 'superadmin' && deviceType != 'tablet') || (_global.getlocalStorage('user_role') == 'admin' && currentUser?.provider_type != 'securestay') || _global.getlocalStorage('user_role') == 'company_admin' || _global.getlocalStorage('user_role') == 'dealer')">
          <a routerLink="/coupons" routerLinkActive="active">Coupons</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin'">
          <a routerLink="/investors" routerLinkActive="active">Investors</a>
        </li>
        <li *ngIf="currentUser?.provider_type == 'rto' && _global.getlocalStorage('user_role') == 'investor_admin'">
          <a routerLink="/investors/stamps" routerLinkActive="active">Stamps</a>
        </li>
        <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin' && (currentUser.username == 'purvesh@simplior.com' || currentUser.username == 'ryan@newfoundrentals.com' || currentUser.username == 'tasha@newfoundrentals.com' || currentUser.username == 'larry@newfoundrentals.com' || currentUser.username == 'dustin@newfoundrentals.com'))">
          <a routerLink="/invoices/accounts" routerLinkActive="active">Accounting</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
          <a routerLink="/invoices" [class.active]="isLinkActive('/invoices')">Invoices</a>
        </li>
        <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
          <a routerLink="/invoices/credit-memos" routerLinkActive="active">Credit Memos</a>
        </li>

        <!-- <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin' && (currentUser.username == 'purvesh@simplior.com' || currentUser.username == 'ryan@newfoundrentals.com' || currentUser.username == 'tasha@newfoundrentals.com' || currentUser.username == 'larry@newfoundrentals.com' || currentUser.username == 'dustin@newfoundrentals.com'))" [class.open]="expandBillSubFlag" [class.hide]="!expandBillSubFlag">
          <a href="javascript:void(0);" (click)="expandBillSubFlag = !expandBillSubFlag">Accounting<i class="fas fa-caret-down"></i></a>
          <ul class="submenu">
            <li>
              <a routerLink="/invoices" routerLinkActive="active">Invoices</a>
            </li>
            <li>
              <a routerLink="/bills" routerLinkActive="active">Bills</a>
            </li>
          </ul>
        </li> -->

        <li [class.open]="expandSubFlag" [class.hide]="!expandSubFlag" *ngIf="deviceType == 'tablet' && _global.getlocalStorage('user_role') == 'superadmin'">
          <a href="javascript:void(0);" (click)="expandSubFlag = !expandSubFlag">More<i class="fas fa-caret-down"></i></a>
          <ul class="submenu">
            <li>
              <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li>
              <a routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            <li>
              <a routerLink="/coupons" routerLinkActive="active">Coupons</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <div class="nav-right">
      <div class="collapse-menu" (click)="expandMenuFlag = !expandMenuFlag"><i class="fas fa-bars"></i></div>
      <ul>
        <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
          <!-- <div class="wallet dropdown-icon">
            <i class="fas fa-wallet"></i>Balance
            <b>$500</b>
          </div> -->
          <div class="profile-section">
            <div class="name" style="padding: 0;"><i class="fas fa-wallet" style="float: initial;"></i>&nbsp;&nbsp;${{ _global.getlocalStorage('user_balance') }}</div>
          </div>
        </li>
        <!-- *ngIf="_global.getlocalStorage('user_role') == 'superadmin'" -->
        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin'" class="notification-icon" (click)="openSystemLog()">
          <i class="far fa-bell"></i>
          <div class="round" *ngIf="logCount > 0">{{ ((logCount <= 99) ? logCount : '99+') }}</div>
        </li>
        <li expandMenu>
          <div class="profile-section">
            <div class="name">{{ _global.getlocalStorage('provider_name') }}</div>
            <div class="avatar">
              <img *ngIf="_global.getlocalStorage('profile_image') != ''" src="{{ _global.getlocalStorage('profile_image') }}">
              <img *ngIf="_global.getlocalStorage('profile_image') == ''" src="{{ uploadUrl }}/uploads/default/user.png">
            </div>
            <i class="fas fa-caret-down"></i>
          </div>
          <div class="popover">

            <div class="account-section item-center">
                <img *ngIf="_global.getlocalStorage('profile_image') != ''" src="{{ _global.getlocalStorage('profile_image') }}">
                <img *ngIf="_global.getlocalStorage('profile_image') == ''" src="{{ uploadUrl }}/uploads/default/user.png">
                <div class="account-info">
                    {{ _global.getlocalStorage('firstname') }} {{ _global.getlocalStorage('lastname') }}
                    <span><strong>{{ _global.getlocalStorage('user_role_display') }}</strong></span>
                    <span>{{ _global.getlocalStorage('username') }}</span>
                </div>
            </div>

            <div class="provider-info" *ngIf="_global.getlocalStorage('company_name')">
                <strong>{{ _global.getlocalStorage('company_name') }}</strong>
                <span>{{ _global.getlocalStorage('company_sequence_id') }}</span>
            </div>

            <ul class="account-links block-content">
                <li><a [routerLink]="['/preferences/account-defaults']">Profile & Preferences</a></li>
                <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin' || _global.getlocalStorage('user_role') == 'admin')"><a [routerLink]="['/users']">Users</a></li>
                <li *ngIf="(_global.getlocalStorage('user_role') == 'customer')"><a [routerLink]="['/payment-methods']">Payment Methods</a></li>
                <li><a [routerLink]="['/support']">Support</a></li>
                <!-- <li><a (click)="forceReload()">Force Reload</a></li> -->
            </ul>

            <div class="link-bottom block-content">
                <a class="pull-left" (click)="logout()">Logout</a>
                <!-- <a class="pull-right" [routerLink]="['/privacy-policy']">Privacy Policy</a> -->
            </div>

          </div>
        </li>
      </ul>
    </div> 
   
  </div>
  <div *ngIf="isProviderMode" class="provider-navbar" [class.open]="expandMenuFlag">
    <ul class="nav">
      <li>
        <a routerLink="/providers/{{ provider_id }}/statistics" routerLinkActive="active">Statistics</a>
      </li>
      <li *ngIf="provider_data.type === 'rto'">
        <a routerLink="/providers/{{ provider_id }}/companies" routerLinkActive="active">Companies</a>
      </li>
      <li *ngIf="provider_data.type === 'rto'">
        <a routerLink="/providers/{{ provider_id }}/contracts" routerLinkActive="active">Contracts</a>
      </li>
      <li *ngIf="provider_data.type === 'securestay'">
        <a routerLink="/providers/{{ provider_id }}/agreements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Agreements</a>
      </li>
      <li>
        <a routerLink="/providers/{{ provider_id }}/users" routerLinkActive="active">Users</a>
      </li>
      <span *ngIf="_global.getlocalStorage('user_role') != 'representative'">
        <li>
          <a routerLink="/providers/{{ provider_id }}/account-defaults" routerLinkActive="active">Account Defaults</a>
        </li>
        <li *ngIf="provider_data.type === 'rto'">
          <a routerLink="/providers/{{ provider_id }}/contracts-options/terms-settings" routerLinkActive="active">Terms Settings</a>
        </li>
        <li *ngIf="provider_data.type === 'securestay'">
          <a routerLink="/providers/{{ provider_id }}/agreement-settings" routerLinkActive="active">Agreement Settings</a>
        </li>
        <li *ngIf="provider_data.type === 'securestay'">
          <a routerLink="/providers/{{ provider_id }}/sms-templates" routerLinkActive="active">SMS Templates</a>
        </li>
        <li *ngIf="provider_data.type === 'rto'">
          <a routerLink="/providers/{{ provider_id }}/contracts-options/contracts-templates" routerLinkActive="active">Contracts Templates</a>
        </li>
        <li *ngIf="provider_data.type === 'securestay'">
          <a routerLink="/providers/{{ provider_id }}/contracts-options/contracts-templates" routerLinkActive="active">Agreement Templates</a>
        </li>
        <li *ngIf="provider_data.type === 'rto'">
          <a routerLink="/providers/{{ provider_id }}/contracts-options/welcome-letter-templates" routerLinkActive="active">Welcome Letter Templates</a>
        </li>
        <li>
          <a routerLink="/providers/{{ provider_id }}/add-ons" routerLinkActive="active">Add Ons</a>
        </li>
        <li>
          <a routerLink="/providers/{{ provider_id }}/notification" routerLinkActive="active">Notification</a>
        </li>
      </span>
    </ul>
  </div>
  <div *ngIf="isInvoiceMode && _global.getlocalStorage('user_role') != 'customer'" class="provider-navbar" [class.open]="expandMenuFlag">
    <ul class="nav">
      <li>
        <a routerLink="/invoices/accounts" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a routerLink="/invoices/journal" routerLinkActive="active">Journal</a>
      </li>
      <li>
        <a routerLink="/invoices/payments" routerLinkActive="active">Payments</a>
      </li>
      <li>
        <a routerLink="/invoices/customers" routerLinkActive="active">Customers</a>
      </li>
      <li>
        <a routerLink="/invoices" [class.active]="isLinkActive('/invoices') || isLinkActive('/invoices/add') || isLinkActive('/invoices/view/'+invoice_id) || isLinkActive('/invoices/edit/'+invoice_id)">Invoices</a>
      </li>
      <li>
        <a routerLink="/invoices/credit-memos" routerLinkActive="active">Credit Memos</a>
      </li>
      <!-- <li>
        <a routerLink="/invoices/ledgers" routerLinkActive="active">Ledgers</a>
      </li> -->
      <li>
        <a routerLink="/invoices/settings" routerLinkActive="active">Settings</a>
      </li>
      <li>
        <a routerLink="/invoices/export" routerLinkActive="active">Export</a>
      </li>
      <li>
        <a routerLink="/invoices/import" routerLinkActive="active">Import</a>
      </li>
    </ul>
  </div>
  <div *ngIf="isInvestorCompanyMode && _global.getlocalStorage('user_role') == 'superadmin'" class="provider-navbar" [class.open]="expandMenuFlag">
    <ul class="nav">
      <li>
        <a routerLink="/investors/{{ investor_company_id }}/contracts" routerLinkActive="active">Contracts</a>
      </li>
      <li>
        <a routerLink="/investors/{{ investor_company_id }}/stamps" routerLinkActive="active">Stamps</a>
      </li>
      <li>
        <a routerLink="/investors/{{ investor_company_id }}/account-defaults" routerLinkActive="active">Account Defaults</a>
      </li>
    </ul>
  </div>
</header>
<app-system-logs *ngIf="systemLogSide" [data]="systemData" (close)="closeSide()"></app-system-logs>