<app-nav></app-nav>
<div class="page-header">
  <div class="page-title">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="main-container dark-bg dashboard-section" [class.super-chart-part]="currentUser['user_role'] == 'superadmin'" [class.admin-chart-part]="currentUser['user_role'] == 'admin'">

  <div class="row">

    <!-- equal-height -->
    <div class="no-margin" *ngIf="currentUser['user_role'] == 'superadmin' || (( currentUser['user_role'] == 'admin' || currentUser['user_role'] == 'representative') && currentUser?.provider_type != 'securestay') || currentUser['user_role'] == 'company_admin' || currentUser['user_role'] == 'dealer' || currentUser['user_role'] == 'subdealer'">
      <div [class.col-12]="showTermSection" [class.col-4]="!showTermSection" [class.col-6-md]="!showTermSection">
        <!-- [class.items]="!showTermSection" -->
        <div class="card">
          <form id="contractsForm" name="contractsForm" (ngSubmit)="contractsUpdate(f)" #f="ngForm"  novalidate>
            <div class="sl-item">
              <div class="title-with-description">
                <h3>Contract Payment Calculator</h3>
                <!-- <p>Lorem ipsum dolor sit amet, an magna sadipscing has, no nibh vidit graeci nec. Est choro partiendo persecuti cu, ex usu paulo.</p> -->
              </div>
              <div class="contract-payment-calculate-section">
                <payment-calculate [data]="contractToCal" (contractPaymentChange)="contractPaymentChange($event)" (showTermSectionParent)="showTermSectionParent($event)"></payment-calculate>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-4 col-6-md" *ngIf="currentUser['user_role'] == 'superadmin' || (currentUser['user_role'] == 'admin' && currentUser?.provider_type != 'securestay')">
        <div class="card">
          <form id="iframeForm" name="iframeForm" (ngSubmit)="fi.form.valid && generateIframe(fi)" #fi="ngForm" novalidate>
            <div class="title-with-description">
              <h3>Generate iframes</h3>
            </div>
            <div class="border-box chart-part">

              <div class="row">
                <div class="col-12">
                  <div class="form-group" style="margin: 0;"><label>Iframe Type*</label></div>
                  <div class="form-group">
                    <label class="radio-btn">
                      <input value="contract_payment_calculator" (change)="iframe.code = '';copyToTxt = 'Copy Code';" name="type"
                        type="radio" [(ngModel)]="iframe.type">
                      <i class="dark-white"></i>Contract Payment Calculator with Lead Form
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="radio-btn">
                      <input value="lead_form" name="type" (change)="iframe.code = '';copyToTxt = 'Copy Code';" type="radio"
                        [(ngModel)]="iframe.type">
                      <i class="dark-white"></i>Lead Form Only
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="radio-btn">
                      <input value="free_instant_quote" name="type" (change)="iframe.code = '';copyToTxt = 'Copy Code';" type="radio"
                        [(ngModel)]="iframe.type">
                      <i class="dark-white"></i>Free Instant Quote
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="radio-btn">
                      <input value="external_checkout" name="type" (change)="iframe.code = '';copyToTxt = 'Copy Code';" type="radio"
                        [(ngModel)]="iframe.type">
                      <i class="dark-white"></i>External Checkout Page
                    </label>
                  </div>
                </div>
              </div>
              
              <div class="row" *ngIf="currentUser['user_role'] == 'superadmin'">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{ 'has-error': fi.submitted && !provider_id.valid }">
                    <label>RTO Provider*</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="providerList" (open)="onOpen($event, 'provider')" (change)="onItemSelect($event, 'provider')" placeholder="Select" bindLabel="itemName" bindValue="id" name="provider_id" id="provider_id" #provider_id="ngModel" [(ngModel)]="iframe.provider_id" [required]="currentUser['user_role'] == 'superadmin'"></ng-select>
                      <div *ngIf="fi.submitted && !provider_id.valid" class="form-messages error">RTO Provider is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{ 'has-error': fi.submitted && !company_id.valid }">
                    <label>Company*</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="companyList" (open)="onOpenCompany($event, 'company')" (change)="onItemSelect($event, 'company')" placeholder="Select" bindLabel="itemName" bindValue="id" name="company_id" id="company_id" #company_id="ngModel" [(ngModel)]="iframe.company_id" required></ng-select>
                      <div *ngIf="fi.submitted && !company_id.valid" class="form-messages error">Company is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{ 'has-error': fi.submitted && !c_user_id.valid }">
                    <label>Dealer*</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="dealerList" (open)="onOpen($event, 'dealer')" (change)="onItemSelect($event, 'dealer')" placeholder="Select" bindLabel="itemName" bindValue="id" name="c_user_id" id="c_user_id" #c_user_id="ngModel" [(ngModel)]="iframe.c_user_id" required></ng-select>
                      <div *ngIf="fi.submitted && !c_user_id.valid" class="form-messages error">Dealer is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12" *ngIf="iframe.type == 'free_instant_quote' && productListIframe?.length > 1">
                <div class="form-group">
                  <label>Building Type*</label>
                  <div class="controls">
                    <div class="radio-inline">
                      <label *ngFor="let prod of productListIframe" class="radio-btn">
                        <input value="{{prod.ID}}" name="product_id" type="radio" #product_id="ngModel" [(ngModel)]="iframe.product_id">
                        <i class="dark-white"> </i>{{ prod.name }}&nbsp;&nbsp;&nbsp;&nbsp;
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="iframe.type == 'external_checkout'" class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="model">Color Code</label>
                    <div class="controls">
                      <input [(colorPicker)]="color" cpPosition="bottom" [value]="color" type="text" class="form-control" id="color_code" name="color_code" #color_code="ngModel" [(ngModel)]="color" placeholder="For Example: #00a4bd">
                      <!-- <input type="text" class="form-control" id="color_code" name="color_code" #color_code="ngModel" [(ngModel)]="iframe.color_code" placeholder="For Example: #00a4bd"> -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="iframe.type == 'external_checkout'" class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="model">Logo</label>
                    <div class="upload-btn-wrapper">
                      <button id="uploadLogo" class="upload-box">Drag & Drop Files for Uploads<br />(Allowed Types: Jpeg, jpg, Png, Gif)</button>
                      <input (change)="readUploadLogoUrl($event)" type="file" id="previewImage" [hidden]="previewImage" accept="image/jpg, image/png, image/jpeg, image/gif" />
                      <div class="image-preview" [hidden]="!previewImage">
                        <img [src]="attachmentImage">
                        <div class="image-preview-hover">
                          <div class="inner-content-hover">
                            <a (click)="removeUploadLogoUrl()">Remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="iframe.type == 'external_checkout'" class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="model">Font Family</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="fontList" (open)="onOpen($event, 'fonts')" (change)="onItemSelect($event, 'fonts')" placeholder="Select" bindLabel="itemName" bindValue="id" name="font_family" id="font_family" #font_family="ngModel" [(ngModel)]="iframe.font_family"></ng-select>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="iframe.type == 'external_checkout'" class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="model">Callback Url</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="callback_url" name="callback_url" #callback_url="ngModel"
                        [(ngModel)]="iframe.callback_url" placeholder="https://containerone.net">
                    </div>
                  </div>
                </div>
              </div>
              
              <div *ngIf="iframe.type != 'external_checkout'" class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="checkbox-btn"  id="enable_client_comments" name="enable_client_comments" value="true" type="checkbox" #enable_client_comments="ngModel" [(ngModel)]="iframe.enable_client_comments">
                    <label for="enable_client_comments">Enable client comments</label>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">Generate Iframe <i *ngIf="loading" class="fa-spin fas fa-spinner"></i></button>
                </div>
                </div>
              </div>

              <div class="row" *ngIf="iframe.code">
                <div class="col-12">
                  <div class="form-group">
                    <div class="iframe-code-bg">
                      <pre><code>{{ itemNew }}</code></pre>
                      <div *ngIf="deviceDetail['browser'] != 'IE'" class="copy-btn" (click)="copyToClipboard(iframe.code)"><i class="far fa-copy"></i>{{ copyToTxt }}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
      
      <div class="col-4 col-6-md">
        <div class="card">
          <form id="iframeForm" name="iframeForm" (ngSubmit)="fcd.form.valid && downloadContract(fcd)" #fcd="ngForm" novalidate>
            <div class="title-with-description">
              <h3>Download Contract PDFs</h3>
            </div>
            <div class="border-box chart-part">
              
              <div class="row">
                <div class="col-12" *ngIf="currentUser['user_role'] == 'superadmin' || (currentUser['user_role'] == 'representative' && currentUser?.provider_type != 'securestay')">
                  <div class="form-group" [ngClass]="{ 'has-error': fcd.submitted && !provider_id.valid }">
                    <label>RTO Provider*</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="providerList" (open)="onOpen($event, 'provider')" (change)="onItemSelect($event, 'providerConDown')" placeholder="Select" bindLabel="itemName" bindValue="id" name="provider_id" id="provider_id" #provider_id="ngModel" [(ngModel)]="contractDownload.provider_id" [required]="currentUser['user_role'] == 'superadmin' || currentUser['user_role'] == 'representative'"></ng-select>
                      <div *ngIf="fcd.submitted && !provider_id.valid" class="form-messages error">RTO Provider is required</div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12" *ngIf="currentUser['user_role'] == 'superadmin' || currentUser['user_role'] == 'admin' || currentUser['user_role'] == 'representative'">
                  <div class="form-group" [ngClass]="{ 'has-error': errors.company_id }">
                    <label>Company*</label>
                    <div class="controls select-dropdown">
                      <ng-select [searchable]="true" [items]="companyList" (open)="onOpen($event, 'company')" (change)="onItemSelect($event, 'company')" placeholder="Select" bindLabel="itemName" bindValue="id" name="company_id" id="company_id" #company_id="ngModel" [(ngModel)]="contractDownload.company_id" style="width: 100%;" required></ng-select>
                      <div *ngIf="errors.company_id" class="form-messages error">Company is required</div>
                    </div>
                  </div>
                </div> -->
                <div class="col-12">
                  <div class="form-group" [ngClass]="{ 'has-error': fcd.submitted && !state.valid }">
                    <label>State*</label>
                    <div class="controls select-dropdown">
                      <ng-select [items]="stateList" placeholder="Select" bindLabel="state" bindValue="ID" #state="ngModel" id="state" name="state" [(ngModel)]="contractDownload.state" required></ng-select>
                      <div *ngIf="fcd.submitted && !state.valid" class="form-messages error">State is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="productList.length > 0">
                  <div class="form-group">
                    <label>Building Type*</label>
                    <div class="controls">
                      <div class="radio-inline">
                        <label *ngFor="let prod of productList" class="radio-btn">
                          <input value="{{prod.ID}}" name="property_type" type="radio" [(ngModel)]="contractDownload.property_type">
                          <i class="dark-white"> </i>{{ prod.name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <button [disabled]="loadingDown" class="btn btn-primary">Download Contract <i *ngIf="loadingDown" class="fa-spin fas fa-spinner"></i></button>
                  </div>
                </div>
                
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>

    <div class="contract-charts-section no-margin" *ngIf="currentUser['user_role'] == 'superadmin' || (currentUser['user_role'] == 'admin' && currentUser?.provider_type != 'securestay')">
     <div class="row-flex"> 

        <!-- Chart Filter -->
        <div class="col-12 col-12-md">
          <div class="chart-filter">
            <ul>
              <li [class.active]="where['filertype'] == 'all'"><a href="javascript:void(0);" (click)="applyChartFilter('all')">All</a></li>
              <li [class.active]="where['filertype'] == 'thisMonth'"><a href="javascript:void(0);" (click)="applyChartFilter('thisMonth')">This Month</a></li>
              <li [class.active]="where['filertype'] == 'lastMonth'"><a href="javascript:void(0);" (click)="applyChartFilter('lastMonth')">Last Month</a></li>
              <li [class.active]="where['filertype'] == 'custom'"><a href="javascript:void(0);" (click)="showCustom(true)">Custom</a></li>    
            </ul>
            <div class="custom-filter-section" *ngIf="showCustomFiler">
                <div class="controls" [ngClass]="{ 'has-error': errors.daterange }">
                  <div class="input-group date ">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <input autocomplete="off" type="text" daterangepicker (selected)="selectDate($event)" [options]="dateRangePicker" class="form-control" id="daterange" name="daterange" #daterange="ngModel" [(ngModel)]="where.daterange" [required]="showCustomFiler" />
                  </div>
                  <div *ngIf="errors.daterange" class="form-messages error">Date is required</div>
                </div>
              <button class="btn btn-primary" (click)="submitCustomFilter()" style="margin-left: 5px;">Apply</button>
            </div>
            <button [disabled]="exporting" (click)="exportChart()" class="btn btn-primary export-btn"><i class="fas fa-file-export"></i> Export <i *ngIf="exporting" class="fa-spin fas fa-spinner"></i></button>
          </div>
          
        </div>
        <div class="clearfix"></div>

        <!-- Contracts By Terms -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Terms</h3>
              <p>What length contracts are your customers most interested in? Scroll our each bar to see actual proportion of contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByTermsLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByTermsLoder" type="bar" [options]="chartOptions" [data]="contractsByTerms"></p-chart>
            </div>
          </div>
        </div>

        <!-- Contracts By Status -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Status</h3>
              <p>&nbsp;</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByStatusLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByStatusLoder" type="bar" [options]="chartOptions" [data]="contractsByStatus"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Contract By Products -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Products</h3>
              <p>&nbsp;</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByProductsLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByProductsLoder" type="doughnut" [data]="contractsByProducts"></p-chart>
            </div>
          </div>
        </div>

        <!-- Contracts By Referrals -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Referrals</h3>
              <p>&nbsp;</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByReferralsLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByReferralsLoder" type="radar" [data]="contractsByReferrals"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        
        <!-- Contracts By Customer Location -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Customer Location</h3>
              <p>Top 15 state based on Number of Contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByLocationLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <div id="map_election" class="map-election-location"></div>
              <!-- <p-chart *ngIf="!contractsByLocationLoder" type="bar" [options]="chartOptions" [data]="contractsByLocation"></p-chart> -->
            </div>
          </div>
        </div>

        <!-- Contracts By Customer Age -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Contracts By Customer Age</h3>
              <p>&nbsp;</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByAgeLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByAgeLoder" type="pie" [data]="contractsByAge"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Number of Purchased Contracts -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Number of Purchased Contracts</h3>
              <p>Top 5 dealers based on Number of Purchased Contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByPurchasedLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByPurchasedLoder" type="bar" [options]="chartOptions" [data]="contractsByPurchased"></p-chart>
            </div>
          </div>
        </div>

        <!-- Total Adjusted Cash of Purchased Contracts -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Total Adjusted Cash of Purchased Contracts</h3>
              <p>Top 5 dealers based on Total Adjusted Cash of Purchased Contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByPurchasedAmountLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByPurchasedAmountLoder" type="bar" [options]="amountChartOptions" [data]="contractsByPurchasedAmount"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Number of Generated Contracts -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Number of Generated Contracts</h3>
              <p>Top 5 dealers based on Number of Generated Contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByGeneratedLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByGeneratedLoder" type="bar" [options]="chartOptions" [data]="contractsByGenerated"></p-chart>
            </div>
          </div>
        </div>

        <!-- Total Adjusted Cash of Generated Contracts -->
        <div class="col-6 col-6-md">
          <div class="card">
            <div class="title-with-description">
              <h3>Total Adjusted Cash of Generated Contracts</h3>
              <p>Top 5 dealers based on Total Adjusted Cash of Generated Contracts.</p>
            </div>
            <div class="border-box">
              <div *ngIf="contractsByGeneratedAmountLoder" class="loader-main">
                <div class="loading-dots">
                  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </div>
              </div>
              <p-chart *ngIf="!contractsByGeneratedAmountLoder" type="bar" [options]="amountChartOptions" [data]="contractsByGeneratedAmount"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
  </div>

</div>
