﻿<ngx-loading-bar height="5px" includeSpinner="false"></ngx-loading-bar>
<sidebar-nav class="main-menu menu-fixed menu-accordion"></sidebar-nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<alert id="alert" ></alert>