<app-nav></app-nav>
<div class="page-header">
  <div class="page-title" *ngIf="!isCompanyMode">
    <h1>Users</h1>
  </div>
  <div class="col-2 page-title" *ngIf="isCompanyMode">
    <company-sub-header></company-sub-header>
    <div class="breadcrumbs">
      <a routerLink="/{{ routerPrefix() }}/statistics">Home</a><i class="fas fa-chevron-right"></i><span>Users</span>
    </div>
  </div>

  <div class="page-action">

    <!-- Filter Tags -->
    <div class="filter-tags" *ngIf="filteredItem?.length > 0">
      <div [hidden]="deviceType == 'mobile'" *ngFor="let column of filteredItem | slice:0: (deviceType != 'tablet' ? 4 : 2) ; let i=index">
        <div *ngIf="isString(column.data)">
          <div class="tags"><strong *ngIf="column.mode == 'fname' || column.mode == 'created_at'">{{ ((column.mode == 'fname') ? 'Customer Name' : ((column.mode == 'created_at') ? 'Created Date' : '') ) }}:</strong> {{ column.data }} <span (click)="removeFilterItem(column.mode, '', true)">x</span></div>
        </div>
        <div *ngIf="!isString(column.data)">
          <div *ngIf="column.data?.length == 1">
            <div *ngFor="let item of column.data;let i = index;" class="tags"><strong>{{ column.mode | titlecase }}:</strong> {{ item.itemName }} <span (click)="removeFilterItem(column.mode, i)">x</span></div>
          </div>
          <div *ngIf="column.data?.length > 1">
            <div class="tags"><strong>{{ column.mode | titlecase }}:</strong> {{ column.data?.length }} {{ column.mode }} <span (click)="clearFilter(column.mode)">x</span></div>
          </div>
        </div>
      </div>
      <div *ngIf="deviceType != 'mobile' && ((filteredItem?.length > 4 && deviceType != 'tablet') || (filteredItem?.length > 2 && deviceType == 'tablet'))" class="tags">+ <strong>{{ (filteredItem?.length - (deviceType != 'tablet' ? 4 : 2)) }}</strong> Filters</div>
      <div *ngIf="deviceType == 'mobile'" class="tags">+ <strong>{{ filteredItem?.length }}</strong> Filters</div>
    </div>

    <!-- Quick Search -->
    <div class="quick-search">
      <input autocomplete="off" type="text" (input)="quickSearch($event.target.value)" placeholder="Quick Search" class="form-control" name="string" #string="ngModel" [(ngModel)]="where.string">
    </div>
    
    <!-- Btns -->
    <button *ngIf="_global.getlocalStorage('user_role') != 'dealer'" (click)="addUser()" class="btn"><i class="fas fa-plus"></i>Add User</button>
    <button *ngIf="_global.getlocalStorage('user_role') == 'dealer'" (click)="addUser()" class="btn"><i class="fas fa-plus"></i>Add Sub Dealer</button>
    
    <!-- Filter Area -->
    <div class="filter-area popover-default" *ngIf="currentRole == 'superadmin' || currentRole == 'representative' || currentRole == 'admin' || currentRole == 'company_admin'">
      <button class="btn btn-secondary"><i class="fas fa-filter"></i></button>
      <input class="popover-checkbox" type="checkbox" #filterCheckbox>
      <div class="popover-box padding">
        <div class="filter-title">Choose Filters</div>
        <div class="filter-data" [hidden]="filterSection['provider'] || filterSection['company'] || filterSection['role'] || filterSection['status']">
          <ul>
            <li [hidden]="(currentRole != 'superadmin' && currentRole != 'representative') || isProviderMode" (click)="toggleFilter('provider')"><span (click)="toggleFilter('provider')">RTO Provider</span></li>
            <li *ngIf="!isCompanyMode && currentRole != 'company_admin' && provider.type === 'rto'" (click)="toggleFilter('company')"><span (click)="toggleFilter('company')">Companies</span></li>
            <li class="mobile-filter" (click)="toggleFilter('role')"><span (click)="toggleFilter('role')">Role</span></li>
            <li><span (click)="toggleFilter('status')">Status</span></li>
          </ul>
        </div>
        <div class="filter-data" *ngIf="filterSection.provider">
          <a class="back-btn" (click)="toggleFilter('provider', false)" href="javascript:void(0);"><i class="fas fa-angle-left"></i>Back</a>
          <div class="filter-select">
            <div class="title-group">
              <div class="pull-left">RTO Provider</div>
              <div class="pull-right" (click)="clearFilter('provider')"><a href="javascript:void(0);">Clear</a></div>
            </div>
            <div class="filter-drop select-dropdown">
              <ng-select [multiple]="true" [items]="providerList" placeholder="Select" (change)="selectDrop($event, 'provider')" (open)="onOpen($event, 'provider')" bindLabel="itemName" bindValue="id" [(ngModel)]="selectedProviderModel"></ng-select>
            </div>
          </div>
          <button class="btn btn-primary" (click)="onItemSelect('provider')">Apply</button>
        </div>
        <div class="filter-data" *ngIf="filterSection.company">
          <a class="back-btn" (click)="toggleFilter('company', false)" href="javascript:void(0);"><i class="fas fa-angle-left"></i>Back</a>
          <div class="filter-select">
            <div class="title-group">
              <div class="pull-left">Companies</div>
              <div class="pull-right" (click)="clearFilter('company')"><a href="javascript:void(0);">Clear</a></div>
            </div>
            <div class="filter-drop select-dropdown">
              <ng-select [multiple]="true" [items]="companyList" placeholder="Select" (change)="selectDrop($event, 'company')" (open)="onOpen($event, 'company')" bindLabel="itemName" bindValue="id" [(ngModel)]="selectedCompanyModel"></ng-select>
            </div>
          </div>
          <button class="btn btn-primary" (click)="onItemSelect('company')">Apply</button>
        </div>
        <div class="filter-data" *ngIf="filterSection.role">
          <a class="back-btn" (click)="toggleFilter('role', false)" href="javascript:void(0);"><i class="fas fa-angle-left"></i>Back</a>
          <div class="filter-select">
            <div class="title-group">
              <div class="pull-left">User Role</div>
              <div class="pull-right" (click)="clearFilter('role')"><a href="javascript:void(0);">Clear</a></div>
            </div>
            <div class="filter-drop select-dropdown">
              <!-- <angular2-multiselect class="select-custom" [data]="userFilter" [settings]="roleDropSettings" [(ngModel)]="selectedRole" style="width: 180px;"></angular2-multiselect> -->
              <ng-select [items]="userFilter" placeholder="Select" (change)="selectDrop($event, 'role')" bindLabel="itemName" bindValue="id" [(ngModel)]="selectedRoleModel"></ng-select>
            </div>
          </div>
          <button class="btn btn-primary" (click)="onItemSelect('role')">Apply</button>
        </div>
        <div class="filter-data" *ngIf="filterSection.status">
          <a class="back-btn" (click)="toggleFilter('status', false)" href="javascript:void(0);"><i class="fas fa-angle-left"></i>Back</a>
          <div class="filter-select">
            <div class="title-group">
              <div class="pull-left">User Status</div>
              <div class="pull-right" (click)="clearFilter('status')"><a href="javascript:void(0);">Clear</a></div>
            </div>
            <div class="filter-drop select-dropdown">
              <!-- <angular2-multiselect class="select-custom" [data]="statusFilter" [settings]="statusDropSettings" [(ngModel)]="selectedStatus" style="width: 180px;"></angular2-multiselect> -->
              <ng-select [items]="statusFilter" placeholder="Select" (change)="selectDrop($event, 'status')" bindLabel="itemName" bindValue="id" [(ngModel)]="selectedStatusModel"></ng-select>
            </div>
          </div>
          <button class="btn btn-primary" (click)="onItemSelect('status')">Apply</button>
        </div>
        <p>Filters set here will override filters set on individual reports.</p>
      </div>
    </div>

    <!-- Tablet & Mobile Nav Menu -->
    <div class="popover-default mobile-left-nav" *ngIf="isCompanyMode" companyList></div>

  </div>

</div>
<div class="main-container">
  <div class="row">
    
    <!-- <app-provider-nav class="col-2" *ngIf="isProviderMode"></app-provider-nav> -->
    <app-company-nav class="col-2" *ngIf="isCompanyMode"></app-company-nav>
    <div [class.col-10]="isCompanyMode">
    
      <ul class="secondary-tab data-hide white-bg users-count" id="secondary-tab" *ngIf="_global.getlocalStorage('user_role') != 'dealer'">
        <li><a [ngClass]="{'active': activeMenu == null}" (click)="applyFilter()">All <span *ngIf="userCount['all']">({{ userCount['all'] }})</span></a></li>
        <li *ngFor="let filter of userFilter"><a [ngClass]="{'active': activeMenu == filter.id}" (click)="applyFilter(filter.id)">{{ filter.text }} <span *ngIf="userCount[filter.id]">({{ userCount[filter.id] }})</span></a></li>
      </ul>
      <div class="clearfix"></div>
    
      <!-- User Desktop View -->
      <div class="table-part" *ngIf="deviceType == 'desktop'" id="main-panel">
        <div *ngIf="busy" class="loader-main" style="height: calc(100vh - 320px);">
          <div class="loading-dots">
            <h1 class="dot one">.</h1>
            <h1 class="dot two">.</h1>
            <h1 class="dot three">.</h1>
          </div>
        </div>

        <!-- <div *ngIf="!busy"> -->
        <table infiniteScroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="50" [fromRoot]="true" (scrolled)="onScroll()">
          <thead>
            <tr *ngIf="selectedUsers?.length <= 0">
              <th style="max-width: 3%;min-width: 3%;">
                <input [(ngModel)]="selectedAll" (change)="selectAll();" class="checkbox-btn" id="default-remember" type="checkbox" value="default-remember">
                <label for="default-remember"></label>
              </th>
              <th [ngStyle]="{ 'max-width': (!hideCompanyCol ? '30%' : '40%'), 'min-width': (!hideCompanyCol ? '30%' : '40%') }">User Name</th>
              <th [ngStyle]="{ 'max-width': (!hideCompanyCol ? '15%' : 'initial'), 'min-width': (!hideCompanyCol ? '15%' : 'initial') }">Email</th>
              <th [ngStyle]="{ 'max-width': (!hideCompanyCol ? '10%' : 'initial'), 'min-width': (!hideCompanyCol ? '10%' : 'initial') }" *ngIf="!hideProviderCol">Provider</th>
              <th [ngStyle]="{ 'max-width': (!hideCompanyCol ? '15%' : 'initial'), 'min-width': (!hideCompanyCol ? '15%' : 'initial') }" *ngIf="!hideCompanyCol">Company Name</th>
              <th *ngIf="!hideCompanyCol">Bill.com ID</th>
            </tr>
            <tr class="bulk-action-row" *ngIf="selectedUsers?.length > 0">
              <th style="max-width: 45px;">
                <input [(ngModel)]="selectedAll" (change)="selectAll();" class="checkbox-btn" id="default-remember" type="checkbox" value="default-remember">
                <label for="default-remember"></label>
              </th>
              <th colspan="6">
                <div class="selected-count"><span>{{ selectedUsers?.length }}</span> Selected</div>
                <div class="row-action popover-default">
                  Actions<i class="fas fa-caret-down"></i>
                  <input class="popover-checkbox" type="checkbox" #actionCheckbox>
                  <div class="popover-box">
                    <ul class="action-list">
                      <li *ngFor="let action of userBulkAction" (click)="bulkAction(action.id)">{{ action.text }}</li>
                    </ul>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="data-tbody">
            <tr [class.disabled]="user.status == 'inactive'" *ngFor="let user of users; let i=index;">
              <td width="45" style="max-width: 3%;min-width: 3%;">
                <input [(ngModel)]="user.selected" (change)="checkIfAllSelected(i);" class="checkbox-btn" id="RTO{{ user.user_id }}" type="checkbox" value="default-remember">
                <label for="RTO{{ user.user_id }}"></label>
              </td>
              <td [ngStyle]="{ 'max-width': (!hideCompanyCol ? '30%' : '40%'), 'min-width': (!hideCompanyCol ? '30%' : '40%') }" class="item-center">
                <div class="name-details-cell">
                  <div class="details"><span class="name">{{ user.first_name }} {{ user.last_name }}</span> <span class="code">({{ user.user_sequence_id }})</span></div>
                  <small class="status">
                    <span *ngIf="activeMenu == null">{{ user.user_role_display }}</span>
                    <span *ngIf="activeMenu == 'subdealer'">Dealer: {{ user.parent_user_name }}</span>
                  </small>
                </div>
                <div class="actions-dropdown-area" expandMenu>
                  <a class="action-btn" myMatchHeight="card">Actions <i class="fas fa-caret-down"></i></a>
                  <div class="popover-box">
                    <ul class="action-list">
                      <li *ngIf="ringCentralService._isRingCentralRegistered" (click)="ringcentralAction('rc-adapter-new-call', user)"><i class="fa fa-headset"></i>Call via RingCentral</li>
                      <li *ngIf="ringCentralService._isRingCentralRegistered" (click)="ringcentralAction('rc-adapter-new-sms', user)"><i class="fa fa-comment"></i>SMS via RingCentral</li>
                      <li (click)="deleteUser(user)"><i class="fa fa-trash"></i>Delete</li>
                      <li *ngIf="user.status == 'active'" (click)="addUser(user)"><i class="fas fa-user-edit"></i>Edit</li>
                      <li *ngIf="user.status == 'active'" (click)="changePassword(user)"><i tooltip="Change Password" placement="top" theme="light" class="fas fa-lock"></i>Change Password</li>
                      <li *ngIf="user.status == 'active' && user.user_role == 'dealer'" (click)="addUser({'parent_user_id': user.user_id, 'parent_user_name': user.first_name, 'provider_id': user.provider_id, 'provider_name': user.provider_name, 'company_id': user.company_id, 'user_role': 'subdealer'})"><i class="fas fa-user"></i>Add Sub Dealer</li>
                    </ul>
                  </div>
                </div>                
              </td>
              <td [ngStyle]="{ 'max-width': (!hideCompanyCol ? '15%' : 'initial'), 'min-width': (!hideCompanyCol ? '15%' : 'initial') }">{{ user.email_id }}</td>
              <td [ngStyle]="{ 'max-width': (!hideCompanyCol ? '10%' : 'initial'), 'min-width': (!hideCompanyCol ? '10%' : 'initial') }" *ngIf="!hideProviderCol">{{ user.provider_prefix }}</td>
              <td [ngStyle]="{ 'max-width': (!hideCompanyCol ? '15%' : 'initial'), 'min-width': (!hideCompanyCol ? '15%' : 'initial') }" *ngIf="!hideCompanyCol">{{ user.company_name }}</td>
              <td>{{ user.bill_com_id }}</td>
              
            </tr>
            <tr *ngIf="totalRecords <= 0">
              <td class="no-data-found-td" colspan="7">
                <div class="no-data-found">
                  <img src="{{ imageurl }}/uploads/default/no-data-found.svg">
                  No matching records found
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- </div> -->
      </div>

      <!-- User Tab & Mobile View -->
      <div class="table-part" *ngIf="deviceType != 'desktop'" id="main-panel">
        <table infiniteScroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="50" [fromRoot]="true" (scrolled)="onScroll()">
          <thead>
            <tr *ngIf="selectedUsers?.length <= 0">
              <th [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '3%' : '5%'), 'min-width': (deviceType != 'mobile' ? '3%' : '5%') }">&nbsp;</th>
              <th [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '6%' : '12%'), 'min-width': (deviceType != 'mobile' ? '6%' : '12%') }">
                <input [(ngModel)]="selectedAll" (change)="selectAll();" class="checkbox-btn" id="default-remember" type="checkbox" value="default-remember">
                <label for="default-remember"></label>
              </th>
              <th [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '45%' : '82%'), 'min-width': (deviceType != 'mobile' ? '45%' : '79%') }">User Name</th>
              <th *ngIf="deviceType != 'mobile'" [ngStyle]="{ 'max-width': '30%', 'min-width': '30%' }">Email</th>
              <th *ngIf="!hideCompanyCol && deviceType != 'mobile'">Company</th>
            </tr>
            <tr class="bulk-action-row" *ngIf="selectedUsers?.length > 0">
              <th [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '3%' : '5%'), 'min-width': (deviceType != 'mobile' ? '3%' : '5%') }">&nbsp;</th>
              <th [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '6%' : '12%'), 'min-width': (deviceType != 'mobile' ? '6%' : '12%') }" style="max-width: 3%;min-width: 3%;">
                <input [(ngModel)]="selectedAll" (change)="selectAll();" class="checkbox-btn" id="default-remember" type="checkbox" value="default-remember">
                <label for="default-remember"></label>
              </th>
              <th colspan="3">
                <div class="selected-count"><span>{{ selectedUsers?.length }}</span> Selected</div>
                <div class="row-action popover-default">
                  Actions<i class="fas fa-caret-down"></i>
                  <input class="popover-checkbox" type="checkbox" #actionCheckbox>
                  <div class="popover-box">
                    <ul class="action-list">
                      <li *ngFor="let action of userBulkAction" (click)="bulkAction(action.id)">{{ action.text }}</li>
                    </ul>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="data-tbody">
            <div *ngFor="let user of users; let i=index;">
              <tr [class.disabled]="user.status == 'inactive'">
                <td [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '3%' : '5%'), 'min-width': (deviceType != 'mobile' ? '3%' : '5%') }" (click)="toggleAction(user.user_id)"><i *ngIf="!toggleRow[user.user_id]" class="fas fa-chevron-right"></i><i *ngIf="toggleRow[user.user_id]" class="fas fa-chevron-down"></i></td>
                <td [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '6%' : '12%'), 'min-width': (deviceType != 'mobile' ? '6%' : '12%') }">
                  <input [(ngModel)]="user.selected" (change)="checkIfAllSelected(i);" class="checkbox-btn" id="RTO{{ user.user_id }}" type="checkbox" value="default-remember">
                  <label for="RTO{{ user.user_id }}"></label>
                </td>
                <td [ngStyle]="{ 'max-width': (deviceType != 'mobile' ? '45%' : '82%'), 'min-width': (deviceType != 'mobile' ? '45%' : '79%') }" class="item-center">
                  <div (click)="toggleAction(user.user_id)" class="name-details-cell">
                    <div class="details"><span class="name">{{ user.first_name }} {{ user.last_name }}</span> <span class="code">({{ user.user_sequence_id }})</span></div>
                    <small class="status">
                      <span *ngIf="activeMenu == null">{{ user.user_role_display }}</span>
                      <span *ngIf="activeMenu == 'subdealer'">Dealer: {{ user.parent_user_name }}</span>
                    </small>
                  </div>
                  <div class="actions-dropdown-area" expandMenu>
                    <a class="action-btn" myMatchHeight="card">Actions <i class="fas fa-caret-down"></i></a>
                    <div class="popover-box">
                      <ul class="action-list">
                        <li (click)="deleteUser(user)"><i class="fa fa-trash"></i>Delete</li>
                        <li *ngIf="user.status == 'active'" (click)="addUser(user)"><i class="fas fa-user-edit"></i>Edit</li>
                        <li *ngIf="user.status == 'active'" (click)="changePassword(user)"><i tooltip="Change Password" placement="top" theme="light" class="fas fa-lock"></i>Change Password</li>
                        <li *ngIf="user.status == 'active' && user.user_role == 'dealer'" (click)="addUser({'parent_user_id': user.user_id, 'parent_user_name': user.first_name, 'provider_id': user.provider_id, 'provider_name': user.provider_name, 'company_id': user.company_id, 'user_role': 'subdealer'})"><i class="fas fa-user"></i>Add Sub Dealer</li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td (click)="toggleAction(user.user_id)" *ngIf="deviceType != 'mobile'" [ngStyle]="{ 'max-width': '30%', 'min-width': '30%' }">{{ user.email_id }}</td>
                <td (click)="toggleAction(user.user_id)" *ngIf="!hideCompanyCol && deviceType != 'mobile'">{{ user.company_prefix }}</td>
              </tr>
              <tr [class.disabled]="user.status == 'inactive'" class="detail-row" [class.open]="toggleRow[user.user_id]">
                <td colspan="5">
                  <ul>
                    <li><span>Seq. ID</span><strong>#{{ user.user_sequence_id }}</strong></li>
                    <li *ngIf="!isProviderMode"><span>Provider</span><strong>{{ user.provider_name }}</strong></li>
                    <!-- <li *ngIf="deviceType == 'mobile'"><span>Company</span><strong>{{ user.company_name }}</strong></li> -->
                    <li *ngIf="deviceType == 'mobile'"><span>Email</span><strong>{{ user.email_id }}</strong></li>
                    <li *ngIf="deviceType == 'mobile' && user.user_role == 'subdealer'"><span>Dealer</span><strong>{{ user.parent_user_name }}</strong></li>
                    <li *ngIf="deviceType != 'desktop' && !hideCompanyCol"><span>Bill.com ID</span><strong>{{ user.bill_com_id }}</strong></li>
                  </ul>
                </td>
              </tr>
            </div>
            <tr *ngIf="totalRecords <= 0">
              <td class="no-data-found-td" colspan="7">
                <div class="no-data-found">
                  <img src="{{ imageurl }}/uploads/default/no-data-found.svg">
                  No matching records found
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>

<app-add-user *ngIf="createUserSide" [data]="userData" (close)="close('user')"></app-add-user>
<aside-change-password *ngIf="changePasswordSide" [data]="userData" (close)="close('password')"></aside-change-password>
<app-delete-user *ngIf="deleteSide" [data]="userData" (close)="close('delete')"></app-delete-user>