﻿<div class="center-box">
 
  <div class="box-container">
    
    <div *ngIf="busy" class="loader-main" style="height: calc(100vh - 190px);">
      <div class="loading-dots">
        <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
      </div>
    </div>

    <div *ngIf="!busy">
      <div class="text-center logo"><img *ngIf="currentProvider?.logo" [src]="currentProvider?.logo"></div>
      <!-- <h2 class="text-center login-title"><b>Welcome Back</b></h2> -->
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        
        <!-- <div class="form-group">
          <div class="controls">
            <div class="radio-inline">

              <label class="radio-btn">
                <input class="has-value" (change)="roleChange()" value="dealer" name="user_role" type="radio" [(ngModel)]="model.user_role">
                <i class="dark-white"> </i>I am a Dealer&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="radio-btn">
                <input value="customer" (change)="roleChange()" name="user_role" type="radio" [(ngModel)]="model.user_role">
                <i class="dark-white"> </i>I am a Customer
              </label>

            </div>
          </div>
        </div> -->

        <div *ngIf="model.user_role == 'dealer'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Email address *</label>
          <input autocomplete="off" tabindex="1" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
          <div *ngIf="f.submitted && !username.valid && username.errors.required" class="form-messages error">Email is required</div>
          <div *ngIf="f.submitted && !username.valid && username.errors.pattern" class="form-messages error">Email is invalid</div>
        </div>

        <div class="form-group" *ngIf="model.user_role == 'customer'">
          <div class="controls">
            <div class="radio-inline">

              <label class="radio-btn">
                <input class="has-value" value="email" name="login_with" type="radio" [(ngModel)]="model.login_with" (change)="roleChange()">
                <i class="dark-white"> </i>Login with Email Address&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="radio-btn">
                <input value="contact_no" name="login_with" type="radio" [(ngModel)]="model.login_with" (change)="roleChange()">
                <i class="dark-white"> </i>Login with Phone No.
              </label>

            </div>
          </div>
        </div>

        <div *ngIf="model.user_role == 'customer' && model.login_with == 'email'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Email Address *</label>
          <!-- <input autocomplete="off" tabindex="1" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required/> -->
          <input autocomplete="off" tabindex="1" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
          <div *ngIf="f.submitted && !username.valid && username.errors.pattern && model.login_with == 'email'" class="form-messages error">Email is invalid</div>
          <div *ngIf="f.submitted && !username.valid && username.errors.required" class="form-messages error">Email Address is required</div>
        </div>
        
        <div *ngIf="model.user_role == 'customer' && model.login_with == 'contact_no'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Phone No *</label>
          <input autocomplete="off" type="text" class="form-control" name="username" [(ngModel)]="model.username" prefix="+1 " mask="000 000 0000" placeholder="XXX XXX XXXX" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid && username.errors.required" class="form-messages error">Phone No is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <div class="row">
            <div class="col-6-sm col-6-xs">
              <label for="password">Password *</label>
            </div>
            <div class="col-6-sm col-6-xs text-right">
              <a href="javascript:void(0);" (click)="displayPassword()">{{ (showPassword) ? 'Hide' : 'Show' }} Password</a>
            </div>
          </div>
          <input autocomplete="off" [type]="showPassword ? 'text' : 'password'" tabindex="2" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="form-messages error">Password is required</div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6-sm col-6-xs">
             <input class="checkbox-btn" id="remember_me" name="remember_me" [(ngModel)]="model.remember_me" #remember_me="ngModel" type="checkbox" value="1">
              <label for="remember_me">Remember me</label>
            </div>
            <div class="col-6-sm col-6-xs text-right">
              <a [routerLink]="['/login/forgot-password']">Forgot my Password</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-md">Login <i *ngIf="loading" class="fa-spin fas fa-spinner"></i></button>
        </div>
        <!-- <div class="group text-center">
          <a href="#" class="btn-link"><b>Problem in login?</b></a>
        </div> -->
      </form>
    </div>

    <div class="copyright-text">
      <span>© 2021 ABC. All Rights Reserved.</span>
      <ul>
        <li *ngIf="currentProvider?.ID != 1"><a [routerLink]="['/web-calculator']"><i class="fas fa-calculator"></i>Contract Payment Calculator</a></li>
        <li><a target="_blank" href="#"><i class="fas fa-external-link-alt"></i>Privacy Policy</a></li>
      </ul>
   
    </div>
  </div>
</div>
