
<div class="logo-part">
  <span class="menu-expand-colleps" (click)="expandMainMenuFlag()">
    <img src="{{ imageurl }}/uploads/default/menu-icons/arrow.png">
  </span>  
  <a [routerLink]="['/dashboard']" *ngIf="!isProviderMode && _global.getlocalStorage('provider_logo') != ''" class="logo">
    <img src="{{ _global.getlocalStorage('provider_logo') }}">
  </a>
  <span class="close" (click)="closeMainMenuFlag()">
    <img src="{{ imageurl }}/uploads/default/menu-icons/artboard.svg">
  </span>
</div>

<div class="menu-listing">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/dashboard"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/dashboard.svg"></span><span class="menu-name">Dashboard</span></a>
    </li>

    <li *ngIf="_global.getlocalStorage('user_role') != 'agent' && currentUser?.provider_type == 'rto'">
      <a routerLink="/contracts" routerLinkActive="active"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/contracts.svg"></span><span class="menu-name">Contracts</span></a>
    </li>

    <li routerLinkActive="active" *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || ((_global.getlocalStorage('user_role') == 'admin' || _global.getlocalStorage('user_role') == 'representative') && currentUser?.provider_type == 'securestay')">
      <a routerLink="/agreements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/agreements.svg"></span><span class="menu-name">Agreements</span></a>
    </li>
    
    <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin')" [class.active]="expandAccountingFlag" routerLinkActive="active">
      <a href="javascript:void(0);" (click)="expandAccountingFlag = !expandAccountingFlag"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/accounting.svg"></span><span class="menu-name">Accounting</span><span class="menu-arrow"><img src="{{ imageurl }}/uploads/default/menu-icons/menu-arrow.svg"></span></a>
      <ul class="sub-menu" [class.open]="expandAccountingFlag" [class.hide]="!expandAccountingFlag" routerLinkActive="open">
        
        <li routerLinkActive="active">
          <a routerLink="/invoices/accounts"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/accounts.svg"></span><span class="menu-name">Accounts</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/journal"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/journal.svg"></span><span class="menu-name">Journal</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/payments"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/payments.svg"></span><span class="menu-name">Payments</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/customers"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/customers.svg"></span><span class="menu-name">Customers</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices" [class.active]="isLinkActive('/invoices')"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/invoices.svg"></span><span class="menu-name">Invoices</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/credit-memos"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/credit-memos.svg"></span><span class="menu-name">Credit Memos</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/settings"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/settings.svg"></span><span class="menu-name">Settings</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/invoices/import"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/export-import.svg"></span><span class="menu-name">Export/Import</span></a>
        </li>
      </ul>
    </li>
    
    <!-- *ngIf="_global.getlocalStorage('user_role') != 'customer' && _global.getlocalStorage('user_role') != 'subdealer' && _global.getlocalStorage('user_role') != 'accountant' && _global.getlocalStorage('user_role') != 'investor_admin' && _global.getlocalStorage('user_role') != 'investor'" -->

    <li [class.active]="expandManageFlag">
      <a href="javascript:void(0);" (click)="expandManageFlag = !expandManageFlag"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/manage.svg"></span><span class="menu-name">Manage</span><span class="menu-arrow"><img src="{{ imageurl }}/uploads/default/menu-icons/menu-arrow.svg"></span></a>

      <ul class="sub-menu" [class.open]="expandManageFlag" [class.hide]="!expandManageFlag" routerLinkActive="open">
     
        <li *ngIf="_global.getlocalStorage('user_role') == 'admin' && currentUser?.provider_type != 'securestay'">
          <a routerLink="/companies"><span class="icon"></span><span class="menu-name">Companies</span></a>
        </li>

        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || (_global.getlocalStorage('user_role') == 'representative' && currentUser?.provider_type != 'securestay')">
          <a routerLink="/providers"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/providers.svg"></span><span class="menu-name">Providers</span></a>
        </li>

        <li *ngIf="((_global.getlocalStorage('user_role') == 'superadmin' && deviceType != 'tablet') || _global.getlocalStorage('user_role') == 'admin' || (_global.getlocalStorage('user_role') == 'representative' && currentUser?.provider_type != 'securestay' ) || _global.getlocalStorage('user_role') == 'dealer' || _global.getlocalStorage('user_role') == 'company_admin')">
          <a routerLink="/users" routerLinkActive="active"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/users.svg"></span><span class="menu-name">Users</span></a>
        </li>

        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin' || ((_global.getlocalStorage('user_role') == 'representative' || _global.getlocalStorage('user_role') == 'admin') && currentUser?.provider_type != 'securestay')">
          <a routerLink="/assets" routerLinkActive="active"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/assets.svg"></span><span class="menu-name">Assets</span></a>
        </li>

        <li *ngIf="deviceType != 'tablet' && _global.getlocalStorage('user_role') == 'superadmin'">
          <a routerLink="/products"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/products.svg"></span><span class="menu-name">Products</span></a>
        </li>

        <li *ngIf="((_global.getlocalStorage('user_role') == 'superadmin' && deviceType != 'tablet') || (_global.getlocalStorage('user_role') == 'admin' && currentUser?.provider_type != 'securestay') || _global.getlocalStorage('user_role') == 'company_admin' || _global.getlocalStorage('user_role') == 'dealer')">
          <a routerLink="/coupons"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/coupons.svg"></span><span class="menu-name">Coupons</span></a>
        </li>

        <li *ngIf="_global.getlocalStorage('user_role') == 'superadmin'" routerLinkActive="active">
          <a routerLink="/investors"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/investors.svg"></span><span class="menu-name">Investors</span></a>
        </li>

        <li *ngIf="(_global.getlocalStorage('user_role') == 'agent' || _global.getlocalStorage('user_role') == 'superadmin')" routerLinkActive="active">
          <a routerLink="/contracts/onboarding"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/onboarding.svg"></span><span class="menu-name">Onboarding</span></a>
        </li>

      </ul>
    </li>
    
    <li *ngIf="currentUser?.provider_type == 'rto' && _global.getlocalStorage('user_role') == 'investor_admin'" routerLinkActive="active">
      <a routerLink="/investors/stamps"><span class="icon"></span><span class="menu-name">Stamps</span></a>
    </li>

    <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
      <a routerLink="/preferences/transactions" routerLinkActive="active"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/invoices.svg"></span><span class="menu-name">Transactions</span></a>
    </li>

    <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
      <a routerLink="/invoices" [class.active]="isLinkActive('/invoices')"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/invoices.svg"></span><span class="menu-name">Invoices</span></a>
    </li>

    <li *ngIf="_global.getlocalStorage('user_role') == 'customer'">
      <a routerLink="/invoices/credit-memos" routerLinkActive="active"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/invoices.svg"></span><span class="menu-name">Credit Memos</span></a>
    </li>

  </ul>
</div>

<div class="menu-footer">
  <ul>

    <li *ngIf="_global.getlocalStorage('user_role') == 'customer'" class="notification">
      <a href="javascript:void(0);"><span class="fas fa-wallet"></span>
        <span class="menu-name">${{ _global.getlocalStorage('user_balance') }}</span>
      </a>
    </li>

    <li expandMenu class="notification" *ngIf="_global.getlocalStorage('user_role') == 'superadmin'">
      <a href="javascript:void(0);"><span class="icon"><img src="{{ imageurl }}/uploads/default/menu-icons/notification.svg">
        <span class="notification-num" *ngIf="logCount > 0">{{ ((logCount <= 99) ? logCount : '99+') }}</span>
      </span><span class="menu-name">Notification</span></a>

      <div class="notification-popuover">
        <div class="notification-header">
          <h4 class="notification-title">Notifications</h4>
          <div class="badge" *ngIf="logCount > 0">{{ ((logCount <= 99) ? logCount : '99+') }} New</div>
        </div>
        <div class="nofication-cont">
          <div class="notication-row">
            <span class="avtar">
              <img src="{{ imageurl }}/uploads/default/user.png">
            </span>
    
            <div class="timeline-text">
              <p class="details">NFR As generated contract #RTO-MMMB000057</p>
              <div class="date">
                <ul>
                  <li>09:54:04 PM</li>
                  <li>IP: 174.248.7.90</li>
                  <li>NFR As</li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="notication-row">
            <span class="avtar">
              <img src="{{ imageurl }}/uploads/default/user.png">
            </span>
    
            <div class="timeline-text">
              <p class="details">NFR As generated contract #RTO-MMMB000057</p>
              <div class="date">
                <ul>
                  <li>09:54:04 PM</li>
                  <li>IP: 174.248.7.90</li>
                  <li>NFR As</li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="notication-row">
            <span class="avtar">
              <img src="{{ imageurl }}/uploads/default/user.png">
            </span>
    
            <div class="timeline-text">
              <p class="details">NFR As generated contract #RTO-MMMB000057</p>
              <div class="date">
                <ul>
                  <li>09:54:04 PM</li>
                  <li>IP: 174.248.7.90</li>
                  <li>NFR As</li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="notication-row unread">
            <span class="avtar">
              <img src="{{ imageurl }}/uploads/default/user.png">
            </span>
    
            <div class="timeline-text">
              <p class="details">NFR As generated contract #RTO-MMMB000057</p>
              <div class="date">
                <ul>
                  <li>09:54:04 PM</li>
                  <li>IP: 174.248.7.90</li>
                  <li>NFR As</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="notication-row unread">
            <span class="avtar">
              <img src="{{ imageurl }}/uploads/default/user.png">
            </span>
    
            <div class="timeline-text">
              <p class="details">NFR As generated contract #RTO-MMMB000057</p>
              <div class="date">
                <ul>
                  <li>09:54:04 PM</li>
                  <li>IP: 174.248.7.90</li>
                  <li>NFR As</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="nofication-footer">
          <button routerLink="/activity" class="btn btn-primary">Read all notifications </button>
        </div>
      </div>
    </li>

    <li class="user-info" expandMenu>
      <a href="javascript:void(0);">
        <span class="icon">
          <img *ngIf="_global.getlocalStorage('profile_image') != ''" src="{{ _global.getlocalStorage('profile_image') }}">
          <img *ngIf="_global.getlocalStorage('profile_image') == ''" src="{{ uploadUrl }}/uploads/default/user.png">
        </span>
        <span class="menu-name">
          {{ _global.getlocalStorage('firstname') }} {{ _global.getlocalStorage('lastname') }} 
          <span class="user-id">{{ _global.getlocalStorage('user_sequence_id') }}</span>
        </span>
      </a>
     
      <div class="popover user-profile-popver">
        <div class="account-section item-center">
          <img *ngIf="_global.getlocalStorage('profile_image') != ''" src="{{ _global.getlocalStorage('profile_image') }}">
              <img *ngIf="_global.getlocalStorage('profile_image') == ''" src="{{ uploadUrl }}/uploads/default/user.png">
            <div class="account-info"> {{ _global.getlocalStorage('firstname') }} {{ _global.getlocalStorage('lastname') }} 
              <span><strong>{{ _global.getlocalStorage('user_role_display') }}</strong></span>
              <span>{{ _global.getlocalStorage('username') }}</span>
            </div>
        </div>
        <div class="provider-info" *ngIf="_global.getlocalStorage('company_name')">
          <strong>{{ _global.getlocalStorage('company_name') }}</strong>
          <span>{{ _global.getlocalStorage('company_sequence_id') }}</span>
        </div>
        <ul class="account-links block-content">
          <li><a [routerLink]="['/preferences/account-defaults']">Profile &amp; Preferences</a></li>
          <li *ngIf="(_global.getlocalStorage('user_role') == 'superadmin' || _global.getlocalStorage('user_role') == 'admin')"><a [routerLink]="['/users']">Users</a></li>
          <li *ngIf="(_global.getlocalStorage('user_role') == 'customer')"><a [routerLink]="['/payment-methods']">Payment Methods</a></li>
          <li><a [routerLink]="['/support']">Support</a></li>
        </ul>
        <div class="link-bottom block-content">
          <a class="pull-left" (click)="logout()">Logout</a>
        </div>
      </div>
      
    </li>
  </ul>
</div>