html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  text-align: left;
  background-color: transparent; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin: 0;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin: 0; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: inherit; }

dd {
  margin: 0; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: 600; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:not([href]):not([tabindex]) {
  text-decoration: none; }
a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding: 0;
  color: inherit;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: block;
  margin-bottom: 0; }

button {
  border-radius: 0; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: none; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6, th {
  font-size: inherit;
  font-weight: normal; }

ul, ol, li {
  list-style: none;
  padding: 0; }

input, select, button, textarea {
  border: none;
  background: transparent;
  padding: 0;
  outline: 0; }

select {
  -webkit-appearance: none; }

hr {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }
// forms
form input[type="text"],
input[type="text"],
form input[type="password"],
input[type="password"],
form input[type="email"],
input[type="email"],
form input[type="url"],
input[type="url"],
form input[type="date"],
input[type="date"],
form input[type="month"],
input[type="month"],
form input[type="time"],
input[type="time"],
form input[type="datetime"],
input[type="datetime"],
form input[type="datetime-local"],
input[type="datetime-local"],
form input[type="week"],
input[type="week"],
form input[type="number"],
input[type="number"],
form input[type="search"],
input[type="search"],
form input[type="tel"],
input[type="tel"],
form input[type="color"],
input[type="color"],
form select,
select,
form textarea,
textarea {
  padding: 10px;
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
}

form input:not([type]) {
  padding: 10px;
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: 4px;
  box-sizing: border-box
}

form input[type="color"] {
  padding: 10px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
  outline: 0;
  border-color: $primary
}

form input:not([type]):focus {
  outline: 0;
  border-color: $primary
}

form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
  outline: thin solid $primary;
  outline: 1px auto $primary
}

form .checkbox,
form .radio {
  margin: .5em 0;
  display: block
}

form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3
}

form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3
}

form input[readonly],
form select[readonly],
form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc
}

form .has-error input,
form .has-error textarea,
form .has-error select{
  border-color: #e9322d
}

form .has-error input:invalid,
form .has-error textarea:invalid,
form .has-error select:invalid {
  border-color: #e9322d
}

form .has-error input:focus:invalid,
form .has-error textarea:focus:invalid,
form .has-error select:focus:invalid {
  border-color: #e9322d
}

form .has-error input[type="file"]:focus:invalid:focus,
form .has-error input[type="radio"]:focus:invalid:focus,
form .has-error input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d
}


form select[multiple] {
  height: auto
}

form label {
  margin: 1em 0 .5em;
  font-weight: 600;
  color: $dark;
}

form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0
}

form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5
}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: .25em 0
}

.form-stacked input:not([type]) {
  display: block;
  margin: .25em 0
}

.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned .help-inline,
.form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle
}

.form-aligned textarea {
  vertical-align: top
}

.form-aligned .control-group {
  margin-bottom: .5em
}

.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0
}

.form-aligned .controls {
  margin: 1.5em 0 0 11em
}

form input.input-rounded,
form .input-rounded {
  border-radius: 2em;
  padding: 10px
}

form .group fieldset {
  margin-bottom: 10px
}

form .group input,
form .group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 3px;
  position: relative;
  top: -1px
}

form .group input:focus,
form .group textarea:focus {
  z-index: 3
}

form .group input:first-child,
form .group textarea:first-child {
  top: 1px;
  border-radius: 3px;
  margin: 0
}

form .group input:first-child:last-child,
form .group textarea:first-child:last-child {
  top: 1px;
  border-radius: 3px;
  margin: 0
}

form .group input:last-child,
form .group textarea:last-child {
  top: -2px;
  border-radius: 3px;
  margin: 0
}

form .group button {
  margin: .35em 0
}

form .input-1 {
  width: 100%
}

form .input-3-4 {
  width: 75%
}

form .input-2-3 {
  width: 66%
}

form .input-1-2 {
  width: 50%
}

form .input-1-3 {
  width: 33%
}

form .input-1-4 {
  width: 25%
}

form .help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em
}

.form-message {
  display: block;
  color: #666;
  font-size: .875em
}
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: $white;
    border: 1px solid $border-light-dark;
    border-radius: 3px;
  }

  // Box hover
  &:hover + label:before {
    background: $primary;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}
// grid

$width: 99%;
$gutter: 1%;
$breakpoint-small: 540px; // 540px
$breakpoint-med: 769px; // 720px
$breakpoint-large: 1024px; // 960px
.jumbotron{
  width: 100%;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 90%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
    max-width: 100%;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0 0.5%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.no-margin > {
  $widthNM: 100%;
  $gutterNM: 0%;
  &.row [class^="col"] {
    float: left;
    margin: 0 0%;
    min-height: 0.125rem;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: $widthNM;
  }

  .col-1-sm { width:($widthNM / 12) - ($gutterNM * 11 / 12); }
  .col-2-sm { width: ($widthNM / 6) - ($gutterNM * 10 / 12); }
  .col-3-sm { width: ($widthNM / 4) - ($gutterNM * 9 / 12); }
  .col-4-sm { width: ($widthNM / 3) - ($gutterNM * 8 / 12); }
  .col-5-sm { width: ($widthNM / (12 / 5)) - ($gutterNM * 7 / 12); }
  .col-6-sm { width: ($widthNM / 2) - ($gutterNM * 6 / 12); }
  .col-7-sm { width: ($widthNM / (12 / 7)) - ($gutterNM * 5 / 12); }
  .col-8-sm { width: ($widthNM / (12 / 8)) - ($gutterNM * 4 / 12); }
  .col-9-sm { width: ($widthNM / (12 / 9)) - ($gutterNM * 3 / 12); }
  .col-10-sm { width: ($widthNM / (12 / 10)) - ($gutterNM * 2 / 12); }
  .col-11-sm { width: ($widthNM / (12 / 11)) - ($gutterNM * 1 / 12); }
  .col-12-sm { width: $widthNM; }

  @media only screen and (min-width: $breakpoint-med) {
    .col-1 { width:($widthNM / 12) - ($gutterNM * 11 / 12); }
    .col-2 { width: ($widthNM / 6) - ($gutterNM * 10 / 12); }
    .col-3 { width: ($widthNM / 4) - ($gutterNM * 9 / 12); }
    .col-4 { width: ($widthNM / 3) - ($gutterNM * 8 / 12); }
    .col-5 { width: ($widthNM / (12 / 5)) - ($gutterNM * 7 / 12); }
    .col-6 { width: ($widthNM / 2) - ($gutterNM * 6 / 12); }
    .col-7 { width: ($widthNM / (12 / 7)) - ($gutterNM * 5 / 12); }
    .col-8 { width: ($widthNM / (12 / 8)) - ($gutterNM * 4 / 12); }
    .col-9 { width: ($widthNM / (12 / 9)) - ($gutterNM * 3 / 12); }
    .col-10 { width: ($widthNM / (12 / 10)) - ($gutterNM * 2 / 12); }
    .col-11 { width: ($widthNM / (12 / 11)) - ($gutterNM * 1 / 12); }
    .col-12 { width: $widthNM; }

    .hidden-sm {
      display: block;
    }
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}
