
@font-face {
    font-family: 'Avenir-Next';
    src: url('assets/fonts/avenir-next/avenir-next-regular.eot');
    src: url('assets/fonts/avenir-next/avenir-next-regular.woff') format('woff'), 
         url('assets/fonts/avenir-next/avenir-next-regular.woff2') format('woff2'), 
         url('assets/fonts/avenir-next/avenir-next-regular.ttf') format('truetype'), 
         url('assets/fonts/avenir-next/avenir-next-regular.svg') format('svg');
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: 'Avenir-Next';
    src: url('assets/fonts/avenir-next/avenir-next-medium.eot');
    src: url('assets/fonts/avenir-next/avenir-next-medium.woff') format('woff'),
         url('assets/fonts/avenir-next/avenir-next-medium.woff2') format('woff2'),
         url('assets/fonts/avenir-next/avenir-next-medium.ttf') format('truetype'),
         url('assets/fonts/avenir-next/avenir-next-medium.svg') format('svg');
         font-weight: 500;
         font-style: normal;
}

@font-face {
    font-family: 'Avenir-Next';
    src: url('assets/fonts/avenir-next/avenir-next-demi.eot');
    src: url('assets/fonts/avenir-next/avenir-next-demi.woff') format('woff'), 
         url('assets/fonts/avenir-next/avenir-next-demi.woff2') format('woff2'), 
         url('assets/fonts/avenir-next/avenir-next-demi.ttf') format('truetype'), 
         url('assets/fonts/avenir-next/avenir-next-demi.svg') format('svg');
         font-weight: 600;
         font-style: normal;
}

@font-face {
    font-family: 'Allison-Script';
    src: url('assets/fonts/allison-script/allison-script.regular.eot');
    src: url('assets/fonts/allison-script/allison-script.regular.woff') format('woff'), 
         url('assets/fonts/allison-script/allison-script.regular.woff2') format('woff2'), 
         url('assets/fonts/allison-script/allison-script.regular.ttf') format('truetype'), 
         url('assets/fonts/allison-script/allison-script.regular.svg') format('svg');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'Special-Elite';
    src: url('assets/fonts/special-elite/special-elite.regular.eot');
    src: url('assets/fonts/special-elite/special-elite.regular.woff') format('woff'), 
         url('assets/fonts/special-elite/special-elite.regular.ttf') format('truetype'), 
         url('assets/fonts/special-elite/special-elite.regular.svg') format('svg');
         font-weight: normal;
         font-style: normal;
}


/*================ Color Variables =================*/

body{
--primary: #08aae6;
--secondary: #132435;
--primaryFont: Avenir-Next;
}

$primary: var(--primary);
$secondary: var(--secondary);
$fontFamily: var(--primaryFont);

$defaultFontColor: #33475b;
$borderColor: #cbd6e2;
$hoverColor: #f5f8fa;
$iconColor: #d6e0e7;
$iconHoverColor: #a9c2d1;

/*================ Font Weight Variables =================*/
$fontweightNormal: 400;
$fontweightMedium: 500;
$fontweightHeavy: 600;
