/*================ Import Variables =================*/
@import '_variables.scss';

/*================ Grid Css =================*/
$width: 99%;
$gutter: 1%;
$breakpoint-extra-small: 1px;
$breakpoint-small: 768px;
$breakpoint-med: 992px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1500px;

// CSS Here