<app-nav></app-nav>

<div class="main-container">
    
    <div class="error-404 text-center" *ngIf="data.type == '401'">
        <div class="icon-style"><i class="fas fa-exclamation-triangle"></i></div>
        <div class="sign-text">
          <h1>401 Unauthorized Error</h1>
          <p>You are not authorized user to access this page.</p>
        </div>
    </div>

    <div class="error-404 text-center" *ngIf="data.type == '404'">
        <i class="fas fa-exclamation-triangle"></i>
        <h1>404 Page not found</h1>
        <p>Page not found.</p>
    </div>
    
</div>